@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Open+Sans&display=swap");

/*---------------------------------------------------------------------------------------------*/

:root {
    --dark-mode-color: rgb(42, 42, 42);
    --slightly-brighter: #696969;
    --sidebar-width: max(15vw, 150px);
    --content-width: calc(100vw - var(--sidebar-width) - 10vw);
}

body {
    margin: 0px;
}

html {
    scroll-behavior: smooth;
}

/*---------------------------------------------------------------------------------------------*/

#header {
    width: 100vw;
    height: 10vh;
    background-color: navy;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 9;
    font-family: 'Raleway', sans-serif;
}

#header #logo {
    position: fixed;
    top: 1vh;
    left: 10vw;
    width: auto;
    height: 8vh;
    cursor: pointer;
}

#header #collapseSidebar {
    padding: 1vh;
    position: fixed;
    top: 1vh;
    left: 1vw;
    width: auto;
    height: 6vh;
    cursor: pointer;
    border-radius: 4vh;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.25s ease;
}

#header #collapseSidebar:hover {
    animation-name: fade;
    animation-duration: 0.25s;
    background-color: rgba(255, 255, 255, 0.5);
}

#header #collapseSidebar:active {
    animation-name: fade;
    animation-duration: 0.25s;
    background-color: rgba(255, 255, 255, 0.75);
}

#header #aboutUs {
    position: fixed;
    left: 23vw;
    top: 3.5vh;
    color: white;
}

#header #darkModeToggle {
    right: 2vw;
    top: 1vh;
    position: inherit;
    cursor: pointer;
    border-radius: 4vh;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.25s ease;
}

#header #darkModeToggle:hover {
    animation-name: fade;
    animation-duration: 0.25s;
    background-color: rgba(255, 255, 255, 0.5);
}

#header #darkModeToggle:active {
    animation-name: fade;
    animation-duration: 0.25s;
    background-color: rgba(255, 255, 255, 0.75);
}

#header #darkModeToggle svg {
    fill-rule: evenodd;
    clip-rule: evenodd;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 1.5;
    height: 8vh;
    width: auto;
}

#header #darkModeToggle g circle {
    fill: white;
}

#header #darkModeToggle g path {
    fill: none;
    stroke: white;
    stroke-width: 11.2px;
}

/*---------------------------------------------------------------------------------------------*/

@keyframes sideBarInactive {
    from {
        left: 0vw;
    } to {
        left: calc(0px - var(--sidebar-width));
    }
}

@keyframes sideBarActive {
    from {
        left: calc(0px - var(--sidebar-width));
    } to {
        left: 0vw; 
    }
}

#sidebar {
    z-index: 10;
    top: 10vh;
    position: fixed;
    height: 90vh;
    width: var(--sidebar-width);
    background-color: navy;
    /*Start of the fuck*/
    max-height: 90%;
    overflow: scroll;
    /*What the fuck*/
}

#sidebar:not(.active):not(.inactive) {
    left: calc(0px - var(--sidebar-width)); 
}

#sidebar.inactive {
    left: calc(0px - var(--sidebar-width)); 
    animation-name: sideBarInactive;
    animation-duration: 0.3s;
}

#sidebar.active {
    left: 0vw; 
    animation-name: sideBarActive;
    animation-duration: 0.3s;
}

#sidebar .sideBarBlog {
    color: white !important;
    font-family: 'Raleway', sans-serif;
    padding: 2vh 1vw;
    margin-bottom: -1px;
    border-top: 1px solid rgb(118, 158, 158);
    border-bottom: 1px solid rgb(118, 158, 158);
    text-align: center;
    cursor: pointer;
}

#sidebar .sideBarBlog span {
    font-size: 1.8vh;
}

#sidebar .sideBarBlog#currentBlog {
    background-color: rgb(0, 0, 75);
}


/*---------------------------------------------------------------------------------------------*/

@keyframes darkToBright {
    from {
        color: white;
        border-color: white;
        fill: var(--slightly-brighter);
        stroke: var(--slightly-brighter);
        background-color: var(--dark-mode-color);
    } to {
        color: black;
        border-color: black;
        fill: white !important;
        stroke: white !important;
        background-color: white;
    }
}

@keyframes brightToDark {
    from {
        color: black;
        border-color: black;
        fill: white;
        stroke: white;
        background-color: white;
    } to {
        color: white;
        border-color: white;
        fill: var(--slightly-brighter);
        stroke: var(--slightly-brighter);
        background-color: var(--dark-mode-color);
    }
}

.dark {
    color: white;
    border-color: white !important;
    fill: var(--slightly-brighter) !important;
    stroke: var(--slightly-brighter) !important;
    background-color: var(--dark-mode-color);
}

.dark.animate {
    animation-name: brightToDark;
    animation-duration: 1s;
}

.bright {
    color: black;
    border-color: black !important;
    fill: white !important;
    stroke: white !important;
    background-color: white;
}

.bright.animate {
    animation-name: darkToBright;
    animation-duration: 1s;
}

/*---------------------------------------------------------------------------------------------*/

@keyframes wideCon {
    from {
        margin-left: calc(5vw + var(--sidebar-width));
    } to {
        margin-left: 5vw;
    }
}

@keyframes smallCon {
    from {
        margin-left: 5vw;
    } to {
        margin-left: calc(5vw + var(--sidebar-width));
    }
}

#content {
    margin-top: 12vh;
    margin-right: 5vw;
    font-size: 3vh;
    min-height: 76vh;
}

#content:not(.active):not(.inactive) {
    margin-left: 5vw;
}

#content.inactive {
    animation-name: wideCon;
    animation-duration: 0.3s;
    margin-left: 5vw;
}

#content.active {
    margin-left: calc(5vw + var(--sidebar-width));
    animation-name: smallCon;
    animation-duration: 0.3s;
}

#content > * {
    font-family: 'Luxurious Roman', 'Times New Roman', Times, serif;
    margin: 5vh auto;
    text-align: center;
    width: auto;
}

#content p {
    font-family: 'Luxurious Roman', 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: normal;
    margin: 3.5vh auto;
}

#content #title {
    margin: 3vh auto 10vh;
    font-weight: bolder;
    font-family: 'Luxurious Roman', 'Times New Roman', Times, serif;
    font-size: xx-large;
}

#content #ratingTable {
    border-collapse: collapse;
}

#content #ratingTable td, #content #ratingTable th {
    border: 1px solid;
    border-color: black;
    padding: 1vh 0.5vw;
}

#content #ratingTable .star {
    min-height: 30px;
    height: 2vw;
    width: auto;
}

#content #infoBox {
    border-collapse: collapse;
    font-size: 2vh;
}

#content #infoBox tr {
    border: 1px solid black;
}

#content #infoBox td {
    padding: 1vh 0.5vw;
}

#content #infoBox .infoName {
    text-align: left;
}

#content #infoBox .infoValue {
    text-align: right;
}

#content #openingTimesTable {
    border-collapse: collapse;
    font-size: 2vh;
    margin: 0px auto;
    font-size: large;
}

#content #openingTimesTable tr {
    border: 1px solid black;
}

#content #openingTimesTable td {
    padding: 1vh 0.5vw;
}

#content #openingTimesTable .openingTime {
    text-align: right;
}

#content #openingTimesTable .openingDays {
    text-align: left;
}

#content #images img {
    min-width: max(10vw, 250px);
    min-height: max(10vw, 250px);
    max-width: max(33vw, 400px);
    max-height: max(25vw, 300px);
    margin: 4vh 2vw;
    height: auto;
}

/*---------------------------------------------------------------------------------------------*/

@keyframes footerContract {
    from {
        margin-left: 0vw;
    } to {
        margin-left: var(--sidebar-width);
    }
}

@keyframes footerExpand {
    from {
        margin-left: var(--sidebar-width);
    } to {
        margin-left: 0vw;
    }
}

#footer {
    position: relative;
    height: 100px;
    padding: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    bottom: 0px;
    background-color: navy;
    color: white;
    font-family: "Raleway", sans-serif;
    text-align: center;
}

#footer:not(.active):not(.inactive) {
    margin-left: 0vw;
}

#footer.inactive {
    animation-name: footerExpand;
    animation-duration: 0.3s;
    margin-left: 0vw;
}

#footer.active {
    margin-left: var(--sidebar-width);
    animation-name: footerContract;
    animation-duration: 0.3s;
}

#footer p, #footer a {
    padding: 1vh 1vw;
    margin: 1vh 1vw;
}

#footer a:visited {
    color: white !important;
}

/*------------------------------Landing page stuff - ignore------------------------------------*/

@keyframes hoverBlog {

}

/*text-shadow: -1px 1px 0 #000,
                          1px 1px 0 #000,
                         1px -1px 0 #000,
                        -1px -1px 0 #000;*/

#content .blog {
    margin: 3vh 2vw;
    width: max(23vw, 300px);
    height: max(40vh, 400px);
    display: inline-block;
    border: 10px solid rgba(30, 30, 30, 0.75);
    border-radius: 7.5%;
}

#content .blog:hover {
    cursor: pointer;
}

#content .blogImg {
    width: max(20vw, 250px);
    height: auto;
}

/*---------------------------------------------------------------------------------------------*/

@media (pointer:coarse) { /*generic mobile*/
    #content #images img {
        max-width: none;
        max-height: none;
        width: 80vw;
        margin: 4vh 2vw;
        height: auto !important;
    }
    
    /*-----------------------------------------------------------------------------------------*/

    @keyframes sideBarInactiveMobile {
    from {
        left: 0vw;
    } to {
        left: -71vw;
    }
}

@keyframes sideBarActiveMobile {
    from {
        left: -71vw;
    } to {
        left: 0vw; 
    }
}
    
    #sidebar {
        top: 10vh;
        position: fixed;
        height: 100vh;
        width: 66vw;
        padding: 0px 2vw;
        background-color: navy;
        /*Start of the fuck*/
        max-height: 90%;
        overflow: scroll;
        /*What the fuck*/
    }
    
    #sidebar:not(.active):not(.inactive) {
        left: -71vw; 
    }
    
    #sidebar.inactive {
        left: -71vw; 
        animation-name: sideBarInactiveMobile;
        animation-duration: 0.3s;
    }
    
    #sidebar.active {
        left: 0vw; 
        animation-name: sideBarActiveMobile;
        animation-duration: 0.3s;
    }

    #sidebar p {
        margin-block-start: 1vh;
        margin-block-end: 1vh;
        margin-left: 2vw !important;
    }
    
    /*-----------------------------------------------------------------------------------------*/
    
    #content:not(.active):not(.inactive) {
        margin-left: 5vw;
    }
    
    #content.inactive {
        margin-left: 5vw !important;
        animation-name: none !important;
        animation-duration: 0s;
    }
    
    #content.active {
        margin-left: 5vw !important;
        animation-name: none !important;
        animation-duration: 0s;
    }
}

@media (hover:none), (hover:on-demand) {  /*hover rules*/
    #header #collapseSidebar:hover {
        animation-name: fade;
        animation-duration: 0.25s;
        background-color: transparent !important;
    }
    #header #darkModeToggle:hover {
        animation-name: fade;
        animation-duration: 0.25s;
        background-color: transparent !important;
    }
}